.Modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.592);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Modal img{
    width: 60vw;
    height: 60vh;
}